<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/ParaBankUIAutomation">
        <classes>
            <class name="org.ParaBank.RegisterUser">
                <methods>
                    <include name="testRegisterUserWithIncorrectPassword"/>
                    <include name="testRegisterNewUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>